// Секция отзывов
.comment{
   width:100%;
   text-align: center;
   padding-bottom:50px;

    // Заголовок блока
   &__title{
       width:100%;
       text-align: center;
       align-items: center;
   }

    //Контейнер
   .container{
       display:flex;
       justify-content: space-between;

   }
    // Блок отзыва
   &__item{
       display:flex;
       flex-direction: column;
       border: 1px solid #cccccc;
       padding:20px;
       width:32%;
       box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
   }
    // Фотография и имя
   &__title{
       display:flex;
       align-items: center;
       padding-bottom:20px;
       font-weight: bold;
       font-size:18px;
       img{
           width:70px;
           height: 70px;
           border-radius: 100px;
           margin-right: 30px;
       }
   }

    // Отзыв
   &__description{
       text-align: left;
       color:#362828;
   }
}