.footer{
    width:100%;
    background: #362828;
    .container{
        display:flex;
        justify-content: space-between;
        align-items: center;
        padding:50px 0px;
    }
    &__form{
        display:flex;
        // width:40%;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h5{
            padding-bottom:50px;
            font-size:24px;
            color:#fff;
            font-weight: normal;
        }
        input{
            background: none;
            color:#fff;
            padding:13px;
            margin-bottom: 20px;
            box-shadow: none;
            border:none;
            border-bottom: 1px solid #fff;
            width:70%;
            font-size:15px;
            &::placeholder{
                font-size:15px;

            }
        }
        .btn-footer{
            border:none;
            background: none;
            font-size:15px;
            color:#fff;
            margin-left:20%;
            margin-bottom: 20px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: 0px;
                right: -60px;
                background: url(../image/footer/arrow.png);
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                width: 48px;
                height: 25px;
            }
        }
    }
    &__address{
        display:flex;
        flex-direction: column;
        align-items: center;
        .map{
            margin-bottom: 50px;
        }
        .contacts{
            display:flex;
            flex-direction: column;
            align-items: center;
            &__address{
                display:flex;
                align-items: center;
                font-size: 17px;
                font-weight: bold;
                color:#fff;
                padding-bottom: 20px;
            }
            a{
                text-decoration: none;
                font-size: 17px;
                font-weight: bold;
                color:#fff;
                padding-bottom: 20px;
            }
            &__links{
                display:flex;
                list-style: none;
                li{
                    margin-right: 20px;
                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }
    }
}