.modal{
    z-index:10;
    width:100%;
    height: 100%;
    background: rgba(000,000,000,.4);
    position: fixed;
    left: -5000px;
    top:0px;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    form{
        display:flex;
        align-items: center;
        flex-direction: column;
        background:#fff;
        padding:50px;
        position: relative;
        h3{
            text-align: center;
            color:#000;
            padding-bottom: 50px;
            font-size:24px;
        }
        input{
            border:none;
            border-bottom: 1px solid black;
            margin-bottom: 30px;
            border-radius:0px;
            padding:10px;
            width:90%;
        }
        label{
            padding-bottom: 10px;
            width:100%;
            border-radius:0px;
        }
        textarea{
            padding:10px;
            width:100%;
            margin-bottom: 20px;
        }
        .btn-submit-modal{
            display:flex;
            padding:20px 60px;
            justify-content: center;
            align-items: center;
            background: #362828;
            color:#fff;
            border:none;
        }
        .close-modal{
            content:'';
            position: absolute;
            right: -50px;
            top:0px;
            width:30px;
            height: 30px;
            background: url('../image/modal/close.png');
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}



// Медиа запросы \ Адаптив

@media (max-width:991px){
    .modal{
        form{
            padding:25px;
            h3{
                font-size:20px;
                padding-bottom: 20px;
            }
            input{
                width:90%;
                margin-bottom: 15px;
            }
            textarea{
                margin-bottom: 10px;
                width:100%;
            }
        }
    }
}


@media (max-width:768px){
    .modal{
        form{
            padding:10px;
            h3{
                font-size:16px;
                padding-bottom: 20px;
            }
            input{
                width:80%;
                font-size:12px;
                margin-bottom: 10px;
            }
            label{
                padding-left:10px;
            }
            textarea{
                margin-bottom: 10px;
                width:90%;
                font-size:12px;
            }
            .btn-submit-modal{
                padding:10px 30px;
            }
            .close-modal{
                right: -30px;
                width:20px;
                height: 20px;
                
            }
        }
    }
}