@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

@media (max-width: 991px) {
  .container {
    max-width: 80%;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

.header {
  width: 100%;
  height: 100vh;
  background: #571515;
  position: relative;
}

.header .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}

.header__top .logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
}

.header__top .logo a img {
  margin-right: 10px;
}

.header__top .menu {
  display: flex;
  align-items: center;
}

.header__top .menu a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  margin-right: 40px;
}

.header__top .menu a:last-child {
  margin-right: 0px;
}

.header__top .tel a {
  text-decoration: none;
  color: #FAF889;
  font-weight: bold;
}

.header__top .menu-btn {
  display: none;
}

.header__content {
  position: relative;
}

.header__content .sculpture {
  position: absolute;
  width: 30%;
  height: auto;
  top: -40%;
  right: 8%;
}

.header__content .title {
  font-size: 31px;
  color: #fff;
  line-height: 45px;
  position: relative;
}

.header__content .title::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 1px;
  background: #fff;
  top: -40px;
}

.header__content .description {
  max-width: 420px;
  color: #fff;
  margin-bottom: 20px;
}

.header__content .btn-cta {
  padding: 15px 60px;
  color: #FAF889;
  background: none;
  border: 1px solid #FAF889;
  outline: none;
  cursor: pointer;
}

.header__content .btn-cta:hover {
  opacity: .7;
  transition: .5s;
}

.header__bottom {
  padding-left: 10%;
  padding-bottom: 50px;
}

.header .social {
  position: absolute;
  top: 40%;
  left: 2%;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.header .social li {
  margin-bottom: 25px;
}

.header .social li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .social li:last-child {
  margin-bottom: 0px;
}

@media (max-width: 991px) {
  .header__top .menu {
    display: none;
  }
  .header__top .menu-btn {
    display: block;
  }
  .header__content .sculpture {
    top: -50px;
    right: 10px;
    width: 40%;
  }
  .header .title {
    margin-top: -30%;
  }
}

@media (max-width: 768px) {
  .header {
    overflow: hidden;
  }
  .header .social {
    display: none;
  }
  .header .sculpture {
    max-width: 35%;
    top: 40px;
    right: 30px;
  }
  .header__content .title {
    font-size: 24px;
  }
  .header__content .title::before {
    top: -10px;
  }
  .header__content .description {
    font-size: 14px;
  }
  .header__content .btn-cta {
    padding: 10px 40px;
  }
}

.about {
  width: 100%;
}

.about__row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.about__row .text {
  display: flex;
  width: 48%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;
}

.about__row .text__title {
  max-width: 90%;
  padding-bottom: 10px;
}

.about__row .text__description {
  font-size: 15px;
  color: #362828;
  max-width: 90%;
}

.about__row .img {
  width: 48%;
}

.about__row .img img {
  width: 100%;
}

.about__row-reverse {
  flex-direction: row-reverse;
  width: 100%;
}

.title-heading {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

@media (max-width: 991px) {
  .about__row {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .about__row .text {
    width: 100%;
    padding: 0px;
    align-items: center;
    text-align: center;
  }
  .about__row .text__title {
    text-align: start;
    width: 100%;
    padding: 0px;
    padding-bottom: 10px;
  }
  .about__row .text__description {
    width: 100%;
    text-align: start;
    padding-bottom: 20px;
  }
  .about__row .image {
    width: 100%;
  }
  .about__row .image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  .about__row {
    width: 100%;
  }
  .about__row .text {
    width: 100%;
    padding: 0px;
    align-items: center;
    text-align: center;
  }
  .about__row .text__title {
    font-size: 15px;
    text-align: start;
    width: 100%;
    padding: 0px;
    padding-bottom: 30px;
  }
  .about__row .text__description {
    font-size: 14px;
    width: 100%;
    text-align: start;
    padding-bottom: 20px;
  }
  .about__row .image {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .about__row .image img {
    width: 100%;
    height: auto;
  }
}

.advantage {
  padding-top: 30px;
  width: 100%;
}

.advantage .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.advantage .row__item {
  display: flex;
  width: 20%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.advantage .row__item img {
  padding-bottom: 20px;
}

.advantage .row__item p {
  text-align: center;
  font-size: 13px;
  color: #362828;
}

@media (max-width: 991px) {
  .advantage .row {
    flex-wrap: wrap;
  }
  .advantage .row__item {
    width: 40%;
    padding-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .advantage .row__item p {
    font-size: 12px;
  }
}

.price {
  width: 100%;
}

.price__title {
  padding-top: 50px;
  padding-bottom: 10px;
}

.price .slider-wrapper {
  padding: 20px;
}

.price .slider-wrapper .slider-price {
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  margin: 20px;
}

.price .slider-wrapper .slider-price img {
  max-width: 100%;
}

.price .slider-wrapper .slider-price__title {
  margin-top: -50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 80%;
  height: 60px;
  font-size: 18px;
  font-weight: bold;
  max-width: 80%;
  background: #FFFFFF;
  margin-bottom: 40px;
}

.price .slider-wrapper .slider-price .btn-price {
  background: #571515;
  margin-bottom: 50px;
  padding: 15px 50px;
  border: none;
  color: #fff;
  transition: .3s;
  cursor: pointer;
}

.price .slider-wrapper .slider-price .btn-price:hover {
  opacity: .9;
}

.price .slider-wrapper .slider-price__cost {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 20px;
}

.price .slider-wrapper .slider-price__cost::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background: #000;
  left: 0px;
  top: -15px;
}

@media (max-width: 991px) {
  .price {
    width: 100%;
  }
  .price__title {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .price .slider-wrapper .slider-price__title {
    font-size: 14px;
  }
  .price .slider-wrapper .slider-price__cost {
    font-size: 16px;
  }
  .price .slider-wrapper .slider-price__cost::after {
    top: -10px;
  }
}

@media (max-width: 768px) {
  .price {
    width: 100%;
  }
  .price__title {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.gallery {
  width: 100%;
}

.gallery__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.gallery__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32%;
  margin-bottom: 20px;
}

.gallery__image img {
  max-width: 100%;
}

.gallery__image img:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.gallery__btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

.gallery__btn a {
  font-size: 14px;
  color: #362828;
}

@media (max-width: 991px) {
  .gallery__wrap {
    flex-wrap: wrap;
  }
  .gallery__image {
    width: 48%;
  }
}

.comment {
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

.comment__title {
  width: 100%;
  text-align: center;
  align-items: center;
}

.comment .container {
  display: flex;
  justify-content: space-between;
}

.comment__item {
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
  padding: 20px;
  width: 32%;
}

.comment__title {
  display: flex;
  align-items: flex-start;
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
}

.comment__title img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  margin-right: 30px;
}

.comment__description {
  text-align: left;
  color: #362828;
}

@media (max-width: 991px) {
  .comment .container {
    flex-wrap: wrap;
  }
  .comment__item {
    width: 100%;
    margin-bottom: 40px;
  }
}

@media (max-width: 768px) {
  .comment__title {
    font-size: 18px;
  }
  .comment__title img {
    margin-right: 10px;
  }
  .comment__description {
    font-size: 14px;
  }
}

.footer {
  width: 100%;
  background: #362828;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__form h5 {
  padding-bottom: 50px;
  font-size: 24px;
  color: #fff;
  font-weight: normal;
}

.footer__form input {
  background: none;
  color: #fff;
  padding: 13px;
  margin-bottom: 20px;
  box-shadow: none;
  border: none;
  border-bottom: 1px solid #fff;
  width: 70%;
  font-size: 15px;
}

.footer__form input::placeholder {
  font-size: 15px;
}

.footer__form .btn-footer {
  border: none;
  background: none;
  font-size: 15px;
  color: #fff;
  margin-left: 20%;
  margin-bottom: 20px;
  position: relative;
}

.footer__form .btn-footer::after {
  content: '';
  position: absolute;
  top: 0px;
  right: -60px;
  background: url(../image/footer/arrow.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 48px;
  height: 25px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__address .map {
  margin-bottom: 50px;
}

.footer__address .contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__address .contacts__address {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 20px;
}

.footer__address .contacts a {
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
  color: #fff;
  padding-bottom: 20px;
}

.footer__address .contacts__links {
  display: flex;
  list-style: none;
}

.footer__address .contacts__links li {
  margin-right: 20px;
}

.footer__address .contacts__links li:last-child {
  margin-right: 0px;
}

@media (max-width: 991px) {
  .footer__address .map {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer .container {
    flex-direction: column;
  }
  .footer__form {
    margin-bottom: 30px;
  }
}

.modal {
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  left: -5000px;
  top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
}

.modal form {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #fff;
  padding: 50px;
  position: relative;
}

.modal form h3 {
  text-align: center;
  color: #000;
  padding-bottom: 50px;
  font-size: 24px;
}

.modal form input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 30px;
  padding: 10px;
  width: 90%;
}

.modal form label {
  padding-bottom: 10px;
  width: 100%;
}

.modal form textarea {
  padding: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.modal form .btn-submit-modal {
  display: flex;
  padding: 20px 60px;
  justify-content: center;
  align-items: center;
  background: #362828;
  color: #fff;
  border: none;
}

.modal form .close-modal {
  content: '';
  position: absolute;
  right: -50px;
  top: 0px;
  width: 30px;
  height: 30px;
  background: url("../image/modal/close.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (max-width: 991px) {
  .modal form {
    padding: 25px;
  }
  .modal form h3 {
    font-size: 20px;
    padding-bottom: 20px;
  }
  .modal form input {
    width: 90%;
    margin-bottom: 15px;
  }
  .modal form textarea {
    margin-bottom: 10px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .modal form {
    padding: 10px;
  }
  .modal form h3 {
    font-size: 16px;
    padding-bottom: 20px;
  }
  .modal form input {
    width: 80%;
    font-size: 12px;
    margin-bottom: 10px;
  }
  .modal form label {
    padding-left: 10px;
  }
  .modal form textarea {
    margin-bottom: 10px;
    width: 90%;
    font-size: 12px;
  }
  .modal form .btn-submit-modal {
    padding: 10px 30px;
  }
  .modal form .close-modal {
    right: -30px;
    width: 20px;
    height: 20px;
  }
}

.modal-menu {
  z-index: 9;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  right: -5000px;
  top: 0;
  display: flex;
  justify-content: flex-end;
  transition: all .3s;
}

.modal-menu .menu {
  display: flex;
  padding-top: 80px;
  padding-right: 50px;
  flex-direction: column;
}

.modal-menu .menu a {
  text-decoration: none;
  padding-bottom: 20px;
  font-size: 24px;
  color: #fff;
}

.modal-menu .close-menu {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  background: url("../image/modal/close.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*# sourceMappingURL=style.css.map */